{% extends "site/auth_layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset' %}
    </div>
{% endblock %}

{% block content %}
    <h3 class="ui header">{% trans "Email verified" %}</h3>

    <div class="ui warning message show">
        {{ message }}
    </div>

    <a href="{% url "password_reset" %}">{% trans "Try reset password" %}</a>
{% endblock content %}


{% block bottomlinks %}
    <a href="{% url "home" %}">{% trans "Home" %}</a>
{% endblock bottomlinks %}