{% extends "site/auth_layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    </div>
{% endblock %}

{% block content %}
    <div class="ui info message">
        <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
    </div>
    <p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>
{% endblock %}

{% block bottomlinks %}
    <a href="{% url "home" %}">{% trans "Home" %}</a>
{% endblock bottomlinks %}