{% extends "site/auth_layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset confirmation' %}
    </div>
{% endblock %}

{% block content %}

{% if validlink %}

    <div class="ui info message">
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
    </div>
    <div class="ui form">
        <form method="post">
            {% csrf_token %}
            {% if form.new_password1.errors %}
                <div class="ui tiny red message">
                    {{ form.new_password1.errors }}
                </div>
            {% endif %}
            <div class="{% if form.new_password1.errors %}error{% endif %} field">
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                {{ form.new_password1 }}
            </div>
            
            {% if form.new_password2.errors %}
                <div class="ui tiny red message">
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}
            <div class="{% if form.new_password2.errors %}error{% endif %} field">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                {{ form.new_password2 }}
            </div>
            
            <input type="submit" value="{% trans 'Change my password' %}" class="ui primary button" />
        </form>
    </div>

{% else %}

    <div class="ui error message">
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    </div>

{% endif %}

{% endblock %}
