{% extends "site/auth_layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Sign up' %}
    </div>
{% endblock %}

{% block content %}
    <h3 class="ui header">{% trans "Tell Us About Yourself" %}</h3>

    <form method="post" class="ui form">
        {% csrf_token %}
        <div class="field">
            <div class="">
                <label>{% trans "Month" %}</label>
                <select name="card[expire-month]" class="ui fluid dropdown">
                    <option value="">{% trans "Month" %}</option>
                    <option value="1">{% trans "January" %}</option>
                    <option value="2">{% trans "February" %}</option>
                    <option value="3">{% trans "March" %}</option>
                    <option value="4">{% trans "April" %}</option>
                    <option value="5">{% trans "May" %}</option>
                    <option value="6">{% trans "June" %}</option>
                    <option value="7">{% trans "July" %}</option>
                    <option value="8">{% trans "August" %}</option>
                    <option value="9">{% trans "September" %}</option>
                    <option value="10">{% trans "October" %}</option>
                    <option value="11">{% trans "November" %}</option>
                    <option value="12">{% trans "December" %}</option>
                </select>
            </div>
        </div>
        <input type="submit" value="{% trans "Signup" %}" class="ui primary button">
    </form>
{% endblock %}