{% extends "site/auth_layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Sign up' %}
    </div>
{% endblock %}

{% block content %}
    <h3 class="ui header">{% trans "Sign Up" %}</h3>

    <form method="post" class="ui form">
        {% csrf_token %}
        <div class="field {% if form.fullname.errors %}error{% endif %} text-left">
            {{ form.fullname.label_tag }}
            <div class="ui left icon input">
                <i class="file icon"></i>
                {{ form.fullname }}
            </div>
            {{ form.fullname.errors.as_text }}
        </div>
        <div class="field {% if form.phone.errors %}error{% endif %} text-left">
            {{ form.phone.label_tag }}
            <div class="ui left icon input">
                <i class="phone icon"></i>
                {{ form.phone }}
            </div>
            {{ form.phone.errors.as_text }}
        </div>
        <div class="field {% if form.email.errors %}error{% endif %} text-left">
            {{ form.email.label_tag }}
            <div class="ui left icon input">
                <i class="mail icon"></i>
                {{ form.email }}
            </div>
            {{ form.email.errors.as_text }}
        </div>
        <div class="field {% if form.username.errors %}error{% endif %} text-left">
            {{ form.username.label_tag }}
            <div class="ui left icon input">
                <i class="user icon"></i>
                {{ form.username }}
            </div>
            {{ form.username.errors.as_text }}
        </div>
        <div class="field {% if form.password.errors %}error{% endif %} text-left">
            {{ form.password.label_tag }}
            <div class="ui left icon input">
                <i class="lock icon"></i>
                {{ form.password }}
            </div>
            {{ form.password.errors.as_text }}
        </div>
        <div class="field {% if form.accept_terms.errors %}error{% endif %} text-left">
            <div class="ui checkbox {% if form.accept_terms.errors %}error{% endif %}">
                {{ form.accept_terms }}
                <label>{{ form.accept_terms.label }}</label>
            </div>
            <br>
            {{ form.accept_terms.errors.as_text }}
        </div>
        <button type="submit" class="ui fluid primary submit button">{% trans "Sign up" %}</button>
    </form>
{% endblock %}

{% block bottomlinks %}
    <a href="{% url "password_reset" %}">{% trans "Forgotten your password or username?" %}</a>
    <div class="ui horizontal divider">{% trans "Or" %}</div>
    <a href="{% url "login" %}">{% trans "Log in" %}</a>    
{% endblock bottomlinks %}
