{% extends "site/auth_layout.html" %}
{% load i18n %}

{% block content %}
    <div class="ui stacked raised segment">
        <h3 class="ui header">{% trans "Log in" %}</h3>
        {% if form.errors %}
            <div class="ui warning message">
                <p>{% trans "Your username and password didn't match. Please try again." %}</p>
            </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>{% blocktrans %}Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            {% endblocktrans %}</p>
            {% else %}
            <p>{% trans "Please login to see this page." %}</p>
            {% endif %}
        {% endif %}
        
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div class="field {% if form.email.errors %}error{% endif %} text-left">
                {{ form.username.label_tag }}
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    {{ form.username }}
                </div>
                {{ form.username.errors }}
            </div>
            
            <div class="field {% if form.password.errors %}error{% endif %} text-left">
                {{ form.password.label_tag }}
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    {{ form.password }}
                </div>
                {{ form.password.errors }}
            </div>

            <input type="submit" value="{% trans "Log in" %}" class="ui fluid primary submit button" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
    <div class="ui message">
        <a href="{% url "password_reset" %}">{% trans "Forgotten your password or username?" %}</a>
        <div class="ui horizontal divider">{% trans "Or" %}</div>
        <a href="{% url "signup" %}">{% trans "Do not have an account?" %}</a>
    </div>

{% endblock content %}